{% extends 'layout/layout.html.twig' %}

{% block content %}
    <div class="col-md-8">
        <!-- row -->
        <div class="row">
            {% for post in pagination %}

                <div class="post post-row">
                    <a class="post-img" href="{{ path('blog_show', {'slug' : post.slug}) }}"><img src="{{ asset(post.thumbnail|default('img/hot-post-1.jpg')) }}" alt="" style="min-height: 200px;"></a>
                    <div class="post-body">
                        <div class="post-category">
                            <a href="{{ path('blog_index', {'tag' : post.tags}) }}">{{ post.tags }}</a>
                        </div>
                        <h3 class="post-title"><a href="{{ path('blog_show', {'slug' : post.slug}) }}">{{ post.title }}</a></h3>
                        <ul class="post-meta">
                            <li><a href="">{{ post.author.name }}</a></li>
                            <li>{{ post.publishedAt ? post.publishedAt|date('d M Y') : '' }}</li>
                        </ul>
                        <p>{{ post.summary }}</p>
                    </div>
                </div>
            <!-- /post -->
            {% else %}
                No Post Found
            {% endfor %}
        </div>
        <!-- /row -->
        <div style="text-align: center;">{{ knp_pagination_render(pagination) }}</div>
    </div>
{% endblock %}