{% extends 'layout/layout.html.twig' %}

{% block title %}Post{% endblock %}

{% block header %}
    {{ parent() }}

    <div id="post-header" class="page-header">
        <div class="page-header-bg" style="background-image: url({{ asset(post.thumbnail|default('img/hot-post-1.jpg')) }});background-size: cover" data-stellar-background-ratio="0.5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="post-category">
                        <a href="">{{ post.tags }}</a>
                    </div>
                    <h1>{{ post.title }}</h1>
                    <ul class="post-meta">
{#                        <li><a href="">John Doe</a></li>#}
                        <li>{{ post.publishedAt ? post.publishedAt|date('d M Y') : '' }}</li>
{#                        <li><i class="fa fa-comments"></i> 3</li>#}
{#                        <li><i class="fa fa-eye"></i> 807</li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-8">

        <div class="section-row">
            <h3>{{ post.summary }}</h3>
            {{ post.content|raw }}
        </div>
        {{ render(controller('App\\Controller\\BlogController::renderCommentForm', {'id': post.id})) }}
        <div class="section-row">
            <div class="section-title">
                <h3 class="title">{{ post.comments|length }} Comments</h3>
            </div>
            <div class="post-comments">

                {% for comment in post.comments %}
                    <!-- comment -->
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src=" {{ asset('img/avatar-2.jpg') }}" alt="">
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <h4>{{ comment.author.name }}</h4>
                                <span class="time">{{ comment.publishedAt|date("M d Y") }}</span>
                            </div>
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                    <!-- /comment -->
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
