{% extends 'layout/dashboard.html.twig' %}

{% block content %}
    <div class="col-md-8">
        {% if posts|length %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> Published At</th>
                <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> Action</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.publishedAt|format_datetime('medium', 'short', '', 'UTC') }}</td>
                    <td class="text-right">
                        <div class="item-actions">
                            <a href="{{ path('admin_blog_show', {'slug' : post.slug}) }}" class="btn btn-default">
                                <i class="fa fa-eye" aria-hidden="true"></i> Show
                            </a>
                            <a href="{{ path('admin_blog_edit', {'id' : post.id}) }}" class="btn btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i> Edit
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <strong>No Post Found</strong>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script>
        $( document ).ready(function() {
            $( "#footer" ).css( "bottom", "0" );
            $( "#footer" ).css( "position", "absolute" );
            $( "#footer" ).css( "width", "100%" );
        });
    </script>
{% endblock %}
