{% extends 'layout/dashboard.html.twig' %}

{% block content %}
    <div class="col-md-8">
        {% if comments|length %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Comment</th>
                    <th scope="col"><i class="fa fa-calendar" aria-hidden="true"></i> Published At</th>
                    <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> Action</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.post.title }}</td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.publishedAt|format_datetime('medium', 'short', '', 'UTC') }}</td>
                        <td class="text-right">
                            <div class="item-actions">
                                <a href="{{ path('admin_blog_show', {'slug' : comment.post.slug}) }}" class="btn btn-default">
                                    <i class="fa fa-eye" aria-hidden="true"></i> Show
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <strong>No Post Found</strong>
        {% endif %}
        <div style="text-align: center;">{{ knp_pagination_render(comments) }}</div>
    </div>
{% endblock %}